@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap");

:root {
  --orange-main: hsl(18, 90%, 65%);
  --blue-primary: hsl(192, 34%, 43%);
  --black-bg: #1f2124;
  --lighter-black: #2e3235;
  --white-font-1: #d6d1d1;
  --white-font-2: #f5f6f7;
  --gray-primary: #999;
  --gray-secondary: #acb4bd;
  --black-middle: #292a2c;
  --black-darker: #252629;
  --red: #ed4337;

  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;

}

*,
::before,
::after {
  color: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.8em;
}

a {
  text-decoration: none;
}








