@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap");

:root {
  --color-main: hsl(18, 90%, 65%);
  --color-button: hsl(192, 34%, 43%);
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-light: #acb4bd;
  --black-light: #292a2c;
  --color-white: #2e3235;
  --color-border: #252629;
  --color-red: #ed4337;

  box-sizing: border-box;
  font-family: "Lexend", sans-serif;

}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
}

body {
  line-height: 1.8em;
  font-size: 1em;
}

a {
  text-decoration: none;
}








